[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/railscasts-theme"]
	path = vim/bundle/railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
